@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Coiny|Noto+Sans');
body{
	background-image:url(images/fondito.jpg);
	font-family: 'Noto Sans', sans-serif;
	align-items: center;
	align-content: center;
	text-align: center;
}
a:link
{
text-decoration:none;
} 
.titulo{
	font-size: 60px;
	align-self: center;
	color: ghostwhite;
    font-family: 'Noto Sans', sans-serif;
    background-image: url(images/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0,0,0,0.62);
}
.macroGrid{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 20% 90%;
}
.menuOtros{
	grid-column: 1/2;
	margin: 0 auto;
}
.iconito{
    background-image: url(images/tux.ico);
	background-repeat: no-repeat;
	background-position: center;
}
.creditos{
	background-image: url(Imagenes/PlacaCreditosv2.png);
	background-repeat: no-repeat;
	background-position: center;
	weight: 100%;
	height: 260px;
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
}
.puntaje{
	background-image: url(Imagenes/PlacaPuntajev3.png);
	background-repeat: no-repeat;
	background-position: center;
	weight: 100%;
	height: 260px;
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
}
.contenedorGrid{
	grid-column: 2/3;
	width: 80%;
	background: url(Imagenes/fondo1.jpg);
	-moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: repeat-y;
}
.grid {
	width: 90%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 45%);
	grid-template-rows: repeat(3, 450px);
	grid-gap: 55px;
	justify-elements: stretch;
	margin-left: auto;
    margin-right: auto;
}
.a{
	background-image: url("images/pacman.png");
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: no-repeat;
	grid-column: 1/2;
	grid-row: 1/2;
}
.b{
	background-image: url("images/calaca.png");
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: no-repeat;
	grid-column: 2/3;
	grid-row: 1/2;
}
.c{
	background-image: url("images/snake.png");
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: no-repeat;
	grid-column: 1/2;
	grid-row: 2/3;
}
.d{
	background-image: url(Imagenes/placaJuego4.png);
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: no-repeat;
	grid-column: 2/3;
	grid-row: 2/3;
}
.e{
	background-image: url(Imagenes/placaJuego5.png);
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: no-repeat;
	grid-column: 1/2;
	grid-row: 3/4;
}
.f{
	background-image: url(Imagenes/placaJuego6.png);
	background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: no-repeat;
	grid-column: 2/3;
	grid-row: 3/4;
}
.boton{
	font-family: 'Coiny', cursive;
	width: 80%;
	height: 80%;
	background: transparent;
	border: none;
	font-size: 0px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}
.boton:hover{
	/*background:radial-gradient(ellipse farthest-corner, rgba(255,252,252,0.23), transparent );*/
	background: linear-gradient( rgba(255,252,252,0.23), transparent);
	font-size: 50px;
	color: black;
}

.boton2{
	font-family: 'Coiny', cursive;
	width: 80%;
	height: 80%;
	background: transparent;
	border: none;
	font-size: 80px;
	color: transparent;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}
.boton2:hover{
	/*background:radial-gradient(ellipse farthest-corner, rgba(255,252,252,0.23), transparent );*/
	background: linear-gradient( rgba(255,252,252,0.23), transparent);
	font-size: 50px;
	color: black;
}
#nombreUsuario{
	display: none;
}
