{{extend 'layout.html'}}

{{block header}}
    <meta charset="utf-8">
    <title>PLATAFORMA DE MINIJUEGOS2</title>
    <link href="http://127.0.0.1:8000/PlataformaJuegos/static/_2.16.1/estilos.css" rel="stylesheet" type="text/css">
<H1>GNU/LINUX</H1>
{{end}}

<section class="macroGrid">
	<section class="menuOtros">
	<br><br><br><br><br><br><br><br>
		<div class="creditos">
			<a href="http://127.0.0.1:8000/PlataformaJuegos/default/nosotros">
				<input type="button" class="boton2" value="Nosotros">
			</a>
		</div>
		<div class="puntaje">
			<a href="http://127.0.0.1:8000/PlataformaJuegos/default/puntos">
				<input type="button" class="boton2" value="Puntajes">	
			</a>
		</div>
	</section>
	<section class="contenedorGrid">
		<div class="titulo"> PLATAFORMA JUEGOS </div>
		<div class="grid" >
		  <div class="a">
				<a href="http://127.0.0.1:8000/PlataformaJuegos/default/juegoUno">
					<input type="button" class="boton" value="Play">
				</a>
			</div>
		  <div class="b">
				<a href="http://127.0.0.1:8000/PlataformaJuegos/default/juegoDos">
					<input type="button"  class="boton" value="Play">
				</a>
			</div>
		  <div class="c">
				<a href="http://127.0.0.1:8000/PlataformaJuegos/default/juegoTres">
					<input type="button"  class="boton" value="Play">	
				</a>
			</div>
		  <div class="d">
				<a href="http://127.0.0.1:8000/GestorJuegos/default/gameFour">
					<input type="button"  class="boton" value="Play">	
				</a>	
			</div>
		  <div class="e">
				<a href="http://127.0.0.1:8000/GestorJuegos/default/gameFive">
					<input type="button"  class="boton" value="Play">	
				</a>	
			</div>
			<div class="f">
				<a href="http://127.0.0.1:8000/GestorJuegos/default/gameSix">
					<input type="button"  class="boton" value="Play">	
				</a>		
			</div>
		</div>
	</section>
</section>
