{{extend 'layout.html'}}
{{block header}}
    <meta charset="utf-8">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
    <link href="http://127.0.0.1:8000/PlataformaJuegos/static/_2.16.1/estilosculebrita.css" rel="stylesheet" type="text/css">
	<script src="http://127.0.0.1:8000/PlataformaJuegos/static/culebrita/JS/serpiente.js" type="text/javascript"></script>
{{end}}
<div class="game">
	<canvas id="culebrita" width="600" height="450"></canvas>
</div>
<section>
<div>
    <form action="puntos">
	<button id="puntajeBoton">Enviar Puntaje</button>
    <input id="puntaje" name="puntaje" type="hidden">
	<input id="game" name="game" type="hidden" value="3">
    <input id="jugador" type="text" size="15" maxlength="30" value="Nombre" name="nombre">
     </form>
</div></section>
