{{extend 'layout.html'}}
{{block header}}
    <meta charset="utf-8">
		<meta name="description" content="Juego llorona">
		<meta name="keywords" content="canvas colisiones jquery ajax">
		<meta name="author" content="Alejandro Daza">
		<title>La leyenda de la llorona</title>
		<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/PlataformaJuegos/static/_2.16.1/estilosllorona.css" media="screen">
		<script src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/js/jquery-1.11.0.min.js" language="JavaScript1.2"></script>
		<script src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/js/quica.js" language="JavaScript1.2"></script>
		<script src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/js/calaca.js" language="JavaScript1.2"></script>
		<script src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/js/script.js" language="JavaScript1.2"></script>
{{end}}
<section>
			<canvas id="mi_canvas" width="640" height="480">
				Tu navegador no es compatible
			</canvas>
		</section>
		<section>
			<div id="popup" style="display: none;">
				<div class="content-popup">
					<div class="close"><a href="#" id="close"><img src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/close.png"/></a></div>
					<div>
					   <h2>Teclas de juego</h2>
					   <img src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/teclado.png"/>
					   <h2>Creditos</h2>
					   <p>Alejandro Paolo Daza Corredor</p>
						<p>UNIR</p>
						<p>Computación en el Cliente</p>
					</div>
				</div>
			</div>
			<h1>La Llorona</h1>
			<button id="instrucciones">Ver Instrucciones</button><br>
			<button id="iniciar">Iniciar</button>
             <form action="puntos">
	<button id="puntajeBoton">Enviar Puntaje</button>
    <input id="puntaje" name="puntaje" type="hidden">
	<input id="game" name="game" type="hidden" value="2">
   <!--<input id="jugador" type="text" size="15" maxlength="30" value="Nombre" name="nombre">-->
     </form>
		</section>
		<audio id="pierde">
			<source src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/sonidos/pierde_vida.ogg" type="audio/ogg">
			<source src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/sonidos/pierde_vida.mp3" type="audio/mpeg">
			<source src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/sonidos/pierde_vida.wav" type="audio/wav">
			Tu navegador no es compatible
		</audio>

		<img id="abajo" src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/kika.png"/>
		<img id="arriba" src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/kika2.png"/>
		<img id="salto" src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/kika.png"/>
		<img id="sentado" src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/kika3.png"/>
		<img id="calaca_1" src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/calaca_child.png"/>
		<img id="calaca_2" src="http://127.0.0.1:8000/PlataformaJuegos/static/llorona/imagenes/calaca_girl.png"/>
