{{extend 'layout.html'}}
{{block header}}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pacman</title>
	<link rel="shortcut icon" href="img/icono.png">
    <link href="http://127.0.0.1:8000/PlataformaJuegos/static/_2.16.1/estilospacman.css" rel="stylesheet" type="text/css">
{{end}}
<div class="pacman">
		<canvas id="micanvas"></canvas>
	</div>
	<script src="http://127.0.0.1:8000/PlataformaJuegos/static/js/jspacman/jquery/jquery-1.11.0.min.js" language="JavaScript1.2"></script>
	<script src="http://127.0.0.1:8000/PlataformaJuegos/static/js/jspacman/bloques.js"></script>
	<script src="http://127.0.0.1:8000/PlataformaJuegos/static/js/jspacman/pacman.js"></script>
	<script src="http://127.0.0.1:8000/PlataformaJuegos/static/js/jspacman/fantasma.js"></script>
	<script src="http://127.0.0.1:8000/PlataformaJuegos/static/js/jspacman/food.js"></script>
	<script src="http://127.0.0.1:8000/PlataformaJuegos/static/js/jspacman/juego.js"></script>
<div>
    <form action="puntos">
	<button id="puntajeBoton">Enviar Puntaje</button>
    <input id="puntaje" name="puntaje" type="hidden">
	<input id="game" name="game" type="hidden" value="1">
    <input id="jugador" type="text" size="15" maxlength="30" value="Nombre" name="nombre">
     </form>
</div>
