{{extend 'layout.html'}}

{{block header}}
    <meta charset="utf-8">
    <title>PLATAFORMA DE MINIJUEGOS2</title>
    <link href="http://127.0.0.1:8000/PlataformaJuegos/static/_2.16.1/estilos.css" rel="stylesheet" type="text/css">
    <H1>GNU/LINUX</H1>
{{end}}

<section class="macroGrid">
		<section class="menuOtros">
		<br><br><br><br><br><br><br><br>
			<div class="creditos2">
				<a href="http://127.0.0.1:8000/PlataformaJuegos/default/puntos">
					<input type="button" class="boton2" value="Puntajes">
				</a>
			</div>
			<div class="puntaje">
				<a href="http://127.0.0.1:8000/PlataformaJuegos/default/index">
					<input type="button" class="boton2" value="Inicio">
				</a>
			</div>
		</section>
		<section class="contenedorGrid">
			<div class="titulo"> Plataforma Juegos </div>
			<div class="grid" >
				<div class="a" style="color:#F6F6F6">
				<br>
					Pacman
					<div>CARLOS LÓPEZ</div>
					<div>ALEJANDRO MORALES</div>
                    <div>JUAN ARIAS</div>
				</div>
			  	<div class="b">
			  	<br>
					LA LLORONA
					<div>ALEJANDRO DAZA</div>
				</div>
			  	<div class="c" style="color:#F6F6F6">
			  	<br>
					CULEBRITA
					<div>NEIDER PUENTES</div>
				</div>
			  	<div class="d">
			  	<br>
					ESPERANDO	
					<div>XXXXXXXXXXX</div>
					<div>XXXXXXXXXXXXX</div>
				</div>
			  	<div class="e">
			  	<br>
					ESPERANDO
					<div>XXXXXXX</div>
				</div>
				<div class="f">
				<br>
					ESPERANDO
					<div>XXXXXXXXXXX</div>
					<div>XXXXXXXXXXX</div>
					<div>XXXXXXXXXXX</div>
				</div>
			</div>
		</section>
	</section>
