{{extend 'layout.html'}}
{{block header}}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pacman</title>
	<link rel="shortcut icon" href="img/icono.png">
    <link href="http://127.0.0.1:8000/PlataformaJuegos/static/_2.16.1/estilos.css" rel="stylesheet" type="text/css">
{{end}}
<section class="macroGrid">
		<section class="menuOtros">
		<br><br><br><br><br><br><br><br>
			<div class="creditos">
				<a href="http://127.0.0.1:8000/PlataformaJuegos/default/nosotros">
					<input type="button" class="boton2" value="Nosotros">	
				</a>
			</div>
			<div class="puntaje">
				<a href="http://127.0.0.1:8000/PlataformaJuegos/default/index">
					<input type="button" class="boton2" value="Home">	
				</a>
			</div>
		</section>
		<section class="contenedorGrid">
			<div class="titulo"> Plataforma Juegos </div>
			<div class="grid" >
				<div class="a" style="color:#F6F6F6">
				<br>
					PACMAN
                    {{cont=1}}
                    {{for r in reg:}}
                    {{if r[1]=='1':}}
                    <div>{{=cont}}.{{=r[0]}}</div>
                    {{cont=cont+1}}
                    {{else: pass}}
                    {{pass}}
				</div>
			  	<div class="b">
			  	<br>
					LA LLORONA
					{{cont=1}}
                    {{for r in reg:}}
                    {{if r[1]=='2':}}
                    <div>{{=cont}}.{{=r[0]}}</div>
                    {{cont=cont+1}}
                    {{else: pass}}
                    {{pass}}
				</div>
			  	<div class="c" style="color:#F6F6F6">
			  	<br>
					CULEBRITA
					{{cont=1}}
                    {{for r in reg:}}
                    {{if r[1]=='3':}}
                    <div>{{=cont}}.{{=r[0]}}</div>
                    {{cont=cont+1}}
                    {{else: pass}}
                    {{pass}} 
				</div>
			  	<div class="d">
			  	<br>
					XXXXXXXXXXX	
					{{cont=1}}
                    {{for r in reg:}}
                    {{if r[1]=='4':}}
                    <div>{{=cont}}.{{=r[0]}}</div>
                    {{cont=cont+1}}
                    {{else: pass}}
                    {{pass}} 
				</div>
			  	<div class="e">
			  	<br>
					XXXXXXXXX
					{{cont=1}}
                    {{for r in reg:}}
                    {{if r[1]=='5':}}
                    <div>{{=cont}}.{{=r[0]}}</div>
                    {{cont=cont+1}}
                    {{else: pass}}
                    {{pass}} 		
				</div>
				<div class="f">
				<br>
					XXXXXXXXX
					{{cont=1}}
                    {{for r in reg:}}
                    {{if r[1]=='6':}}
                    <div>{{=cont}}.{{=r[0]}}</div>
                    {{cont=cont+1}}
                    {{else: pass}}
                    {{pass}} 
				</div>
			</div>
		</section>
	</section>
